<div class="m-4">
  <div class="table-title">
    <div class="d-flex justify-content-between">
      <div class="text-left">
        <h2 class="text-dark">Medicamentos</h2>
      </div>
      <div class="text-right">
        <button
          type="button"
          class="btn btn-info text-light"
          data-toggle="modal"
          data-target="#addMedicamento"
          (click)="openModal()"
        >
          + Adicionar
        </button>
      </div>
    </div>
  </div>

  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Dosagem</th>
        <th>Preço</th>
        <th>Receita</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medicamento of medicamentos">
        <td>
          <p class="fw-normal">{{ medicamento.id }}</p>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{ medicamento.nome }}</p>
              <p class="text-muted mb-0">{{ medicamento.desc }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal">{{ medicamento.dosagem }}ml</p>
        </td>
        <td>
          <p class="fw-normal">{{ medicamento.preco | currency: "BRL" }}</p>
        </td>
        <td>
          <p class="fw-normal">
            {{ medicamento.receita ? "Necessário receita" : "Não necessário" }}
          </p>
        </td>
        <td>
          <ul class="list-inline m-0">
            <li class="list-inline-item">
              <button
                class="btn btn-success btn-sm rounded-0"
                type="button"
                data-toggle="tooltip"
                data-placement="top"
                title="Edit"
                (click)="onEditHandler(medicamento.id)"
              >
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
            </li>
            <li class="list-inline-item">
              <button
                class="btn btn-danger btn-sm rounded-0"
                type="button"
                data-toggle="tooltip"
                data-placement="top"
                title="Delete"
                (click)="remove(medicamento)"
              >
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="modalMedicamento"
  tabindex="-1"
  aria-labelledby="LabelMedicamentoModal"
  aria-hidden="true"
>
  <div class="modal-dialog d-flex justify-content-center">
    <div class="modal-content w-75">
      <div class="modal-header">
        <h5 class="modal-title" id="LabelMedicamentoModal">
          Formulário da Farmácia 💊
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="this.formModal.hide()"
        ></button>
      </div>
      <div class="modal-body p-4">
        <form [formGroup]="medicamentoForm" (ngSubmit)="onSubmit()">
          <div class="form-outline mb-4">
            <label class="form-label" for="name4">Nome</label>
            <input
              type="text"
              id="name4"
              class="form-control"
              formControlName="nome"
            />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="desc4">Descrição</label>
            <input
              type="text"
              id="desc4"
              class="form-control"
              formControlName="desc"
            />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Receita</label>
            <div class="d-flex justify-content-between align-items-center">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="receita"
                  id="ReceitaS"
                  formControlName="receita"
                  [value]="true"
                  checked
                />
                <label class="form-check-label" for="ReceitaS">
                  Necessário
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="receita"
                  formControlName="receita"
                  id="ReceitaN"
                  [value]="false"
                />
                <label class="form-check-label" for="ReceitaN">
                  Não necessário
                </label>
              </div>
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="dosagem4">Dosagem</label>
            <div class="input-group">
              <input
                type="number"
                id="dosagem4"
                class="form-control"
                formControlName="dosagem"
              />
              <div class="input-group-append">
                <span class="input-group-text">ml</span>
              </div>
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="preco4">Preço</label>
            <input
              type="number"
              id="preco4"
              class="form-control"
              formControlName="preco"
            />
          </div>

          <button
            type="submit"
            class="btn btn-block"
            [ngClass]="this.editLabel ? 'btn-primary' : 'btn-success'"
            [disabled]="!medicamentoForm.valid"
          >
            {{ this.editLabel ? "Add" : "Atualizar" }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
