<nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark">
  <div class="container">
    <h1 class="navbar-brand">Farmácia Popular</h1>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['cliente']">Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['farmaceutico']">Farmacêutico</a >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['medicamento']">Medicamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['item-venda']">Nova Compra</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content" style="margin-top: 75px">
  <router-outlet></router-outlet>
</div>
