<div>
  <div class="table-title">
    <div class="d-flex justify-content-between">
      <div class="text-left">
        <h2 class="text-dark alig">Nova Compra</h2>
        <p *ngIf="enableAdd">
          <span class="text-dark">Cliente:{{nmCliente}}</span>
          <span class="text-dark">Farmaceutico:</span>
        </p>
      </div>
      <div class="text-right">
        <button
          type="button"
          class="btn btn-info text-light"
          data-toggle="modal"
          data-target="#addCompra"
          (click)="openModalPri()"
        >
          + Compra 
        </button>
      </div>
    </div>
  </div>

  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>#</th>
        <th>Medicamento</th>
        <th>Quantidade</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>  

<div 
  class="modal fade"
  id="modalCliente"
  tabindex="-1"
  aria-labelledby="LabelClientModal"
  aria-hidden="true"
>
<div class="modal-dialog d-flex justify-content-center">
  <div class="modal-content w-75">
    <div class="modal-header">
      <h5 class="modal-title" id="LabelItemVendaModal">
        Iniciar Nova Compra 💊
      </h5>
      <button
        type="button"
        class="btn-close"
        (click)="this.formModalPri.hide()"
      ></button>
    </div>
    <div class="modal-body p-4">
      <form [formGroup]="itemVendaFormPri" (ngSubmit)="createList()">
        <div class="form-outline mb-4">
          <label class="form-label" for="slcCliente">Cliente</label>
          <select class="form-select" formControlName="cliente" name="cliente" id="slcCliente">

              <option *ngFor="let cliente of clientes"
                value= "{{cliente.id}}">
                {{cliente.nome}}
              </option>

          </select>
          <br>
          <label class="form-label" for="slcFarm">Farmaceutico</label>
          <select class="form-select" formControlName="farmaceutico" name="farmaceutico" id="slcFarm">
            <option *ngFor="let farmaceutico of farmaceuticos"
              [value]="farmaceutico.id">
              {{farmaceutico.nome}}
            </option>
          </select>
        </div>

        <button
          type="submit"
          class="btn btn-block btn-primary"
          [disabled]="!itemVendaFormPri.valid"
        >
          Add
        </button>
      </form>
    </div>
  </div>
</div>
</div>

<div 
  class="modal fade"
  id="modalCliente"
  tabindex="-1"
  aria-labelledby="LabelClientModal"
  aria-hidden="true"
>
<div class="modal-dialog d-flex justify-content-center">
  <div class="modal-content w-75">
    <div class="modal-header">
      <h5 class="modal-title" id="LabelClienteModal">
        Adicionar Item 💊
      </h5>
      <button
        type="button"
        class="btn-close"
        (click)="this.formModalSec.hide()"
      ></button>
    </div>
    <div class="modal-body p-4">
      <form [formGroup]="itemVendaFormSec">
        <div class="form-outline mb-4">
          <label class="form-label" for="slcMedicamento">Medicamento</label>
          <select name="cliente" id="slcMedicamento" *ngFor="let remedio of medicamentos">
            <option value="{{remedio.id}}">{{remedio.nome}}</option>
          </select>
          
          <label for="qtd_med">Quantidade</label>
          <input type="number" name="qtd_med" id="qtd_med">
        </div>

        <button
          type="submit"
          class="btn btn-block btn-primary"
          [disabled]="!itemVendaFormSec.valid"
        >
          Add
        </button>
      </form>
    </div>
  </div>
</div>
</div>